@import 'commonStyles/_colors.scss';

.c-contact {
	display: grid;
	grid-template-areas: 
		"text"
		"form";
}

.c-contact_form {
	grid-area: form;
}

.c-contact_text {
	grid-area: text;
}



@media screen and (min-width: 900px) {
	.c-contact {
		grid-template-areas: 
			"form text";

		grid-template-columns: 3fr 2fr;
	}

	.c-contact_text {
		padding: 1.5rem;
	}
}

