// Typography
@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,700|Oswald:400,600');

$large: 2rem;
$medium: 1.2rem;
$small: .8rem;

// Color Palette

$dark: #333333;
$white: #F1F2EE;
$silver: #848C8E;
$gray: #BFB7B6;
$accent: #4FAE47;
$react-blue: #61dafb;
$js-red: #b00000;

$clay-red-trans: rgba(232, 99, 78, 0.3);
$clay-red: rgb(232, 99, 78);

$highlight-trans: rgba(128, 0, 128, .8);
$highlight: rgba(128, 0, 128, 1);

