@import 'commonStyles/_colors.scss';

.c-text-input {
	width: 100%;
	color: white;
	
}

.c-text-input_label {
	display: block;
	text-transform: uppercase;
	transform: translateY(1.75rem);
	color: $white;
	padding-left: 0.5rem;
	transition: 0.25s transform;

	&:hover {
		cursor: text;
	}

	&.s-has-focus {
		transform: none;
		color: $dark;
	}
}

.c-text-input_input, .c-text-input_area {
	color: inherit;
	padding: 1rem;
	display: block;
	width: 100%;
	font-size: 1rem;
	font-family: inherit;
	border: none;
	height: 2rem;
	background-color: lighten($dark, 25%);
	outline-color: $highlight;
}

.c-text-input_area {
	height: 18vh;
}

// @media screen and (min-width: 590px) {
// 	.c-text-input {
// 		width: 70%;
// 	}
// }

