@import 'commonStyles/_colors.scss';

.c-reactGraphic {
	width: 100%;
	height: 120%;
	transition: .2s all;
	stroke: $white;
	fill: $silver;
	transform: translateY(-1.4rem);

	&.s-is-hovered {
		fill: $react-blue;
		stroke: $silver;
	}
}